<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <!--Tela Inicial-->
    <welcome-file-list>
        <welcome-file>jsp/login.jsp</welcome-file>
    </welcome-file-list>

    <!--Login-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>estacio.br.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!--Logout-->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>estacio.br.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <!--Home-->
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>estacio.br.controller.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <!--Usuario-->
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>estacio.br.controller.UsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/usuarios</url-pattern>
    </servlet-mapping>

    <!--Games-->
    <servlet>
        <servlet-name>GamesServlet</servlet-name>
        <servlet-class>estacio.br.controller.GamesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GamesServlet</servlet-name>
        <url-pattern>/games</url-pattern>
    </servlet-mapping>

    <!--Genero-->
    <servlet>
        <servlet-name>GenerosServlet</servlet-name>
        <servlet-class>estacio.br.controller.GenerosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenerosServlet</servlet-name>
        <url-pattern>/generos</url-pattern>
    </servlet-mapping>

    <!--Nota-->
    <servlet>
        <servlet-name>NotasServlet</servlet-name>
        <servlet-class>estacio.br.controller.NotasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotasServlet</servlet-name>
        <url-pattern>/notas</url-pattern>
    </servlet-mapping>


</web-app>